<header>
    <img src="assets/img/me.jpeg" alt="Ewerton Hecsley - Foto de Perfil" width="130px" height="200px"
        loading="eager">
    <h1>Ewerton Hecsley</h1>
</header>
<aside>
    <div class="container">
        <p>Desenvolvedor Backend | Node.js | NestJS | Java | Spring Boot</p>
        <p>Patos, Paraíba, Brasil</p>
        <p>
            Desenvolvedor Backend com experiência em Node.js, Java e frameworks modernos. Também possuo conhecimentos em
            Frontend com HTML, CSS, JavaScript e Angular.
            Apaixonado por criar soluções eficientes e escaláveis, sempre buscando unir tecnologia e visão de negócio.
        </p>
        <p>
            Com mais de 10 anos de experiência na área comercial, desenvolvi habilidades de negociação e liderança que
            aplico no desenvolvimento de software, trazendo uma abordagem estratégica e orientada a resultados.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/CV.pdf" target="_blank" class="btn btn-primary">Download Cv</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ewerton-hecsley-8a613992/" target="_blank" class="btn btn-secondary">LinkedIn</a>
                </li>
                <li>
                    <a href="https://github.com/EwertonHecsley" target="_blank" class="btn btn-secondary">Github</a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img src="assets/icon/whatsapp.svg" alt="Ícone do WhatsApp" width="20px" height="20px" loading="lazy">
                <figcaption>
                <a href="https://wa.me/5583998507503?text=Olá%20Ewerton,%20vi%20seu%20portfólio!" target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>(83) 99850-7503</p>
                </a>
            </figcaption>
            </figure>
            
            <figure>
                <img src="assets/icon/email.svg" alt="Ícone de e-mail" width="20px" height="20px" loading="lazy">
                <figcaption>
                <a href="mailto:ewerton.martinscomercial@gmail.com" target="_blank">
                    <strong>Envie um e-mail para:</strong>
                    <p>ewerton.martinscomercial&#64;gmail.com</p>
                </a>
            </figcaption>
            </figure>
            
        </section>
    </div>
</aside>